import RiotControl from 'riotcontrol'

<categories-view>
  <div each={category, posts in _postsInCategories}>
    <h4 class="ui horizontal divider header">
      {category}
    </h4>
    <div class="ui three stackable cards">
      <postcell each={posts} data={this}></postcell>
    </div>
  </div>

  <script type="text/babel">
    this.mixin('controlMixin')
    this._postsInCategories = {}

    this.on('mount', () => {
      RiotControl.trigger(riot.events.blog.view.LOAD_POSTS)
    })

    this.onControl(riot.events.blog.store.POSTS_CHANGED, posts => {
      this._postsInCategories = posts.reduce((map, post) => {
        map[ post.category ] = map[ post.category ] || []
        map[ post.category ].push(post)

        return map
      }, {})
      this.update()
    })
  </script>
</categories-view>
