import stores from '../store/stores'
import RiotControl from 'riotcontrol'

<detail-view class="ui one cards">
  <div class="ui card">
    <div class="content">
      <div class="header">
        <h2>{_post.title}</h2>
      </div>
      <div class="description">
        <p>Category: {_post.category}</p>
        <p>{_post.content}</p>
      </div>
    </div>
    <div class="extra content">
      <span class="left floated like">
        <i class="like icon" onclick={likePost}></i>
        {_post.likes} Likes
      </span>
    </div>
    <div class="extra content">
      <span class="left floated like">
        <a if="{ opts.data > 1 }" href="#detail/{ opts.data - 1 }">Previous Post</a>
      </span>
      <span class="right floated">
        <a if="{ opts.data < _total }" href="#detail/{ opts.data - -1 }">Next Post</a>
      </span>
    </div>
  </div>

  <script type="text/babel">
    this.mixin('controlMixin')

    this.onControl(riot.events.blog.store.POSTS_CHANGED, () => {
      this.readData()
    })

    this.readData = () => {
      this._post = stores.blog.getPostById(Number(opts.data))
      this._total = stores.blog._posts.length
      this.update()
    }

    this.likePost = () => {
      RiotControl.trigger(riot.events.blog.view.LIKE_POST, this._post.postId)
    }

    this.readData()
  </script>
</detail-view>
