import RiotControl from 'riotcontrol'
import stores from '../store/stores'

<board>

  <div class="ui container">
    <header></header>

    <div id="board-view"></div>

    <footer></footer>
  </div>

  <style scoped>
    header {
      margin: 40px;
    }

    footer {
      margin: 40px;
    }

    .ui.divider {
      margin: 30px;
    }
  </style>

  <script type="text/babel">
    this.mixin('controlMixin')
    this.mixin('viewContainerMixin', { container: 'div#board-view' })

    this.updateRoute = (path) => {
      if (path[0] !== 'board') return
      switch (path[ 1 ]) {
        case 'beers':
          if (path[ 2 ]) {
            this.loadView('beer-details', { beerId: path[ 2 ] })
          } else {
            this.loadView('beers')
          }
          break
        case 'breweries':
          this.loadView('breweries')
          break
        default:
          RiotControl.trigger(riot.events.route.view.GOTO, 'board/beers')
      }
    }

    this.on('mount', () => this.updateRoute(opts.path))
    this.onControl(riot.events.route.store.ROUTE_CHANGED, this.updateRoute)

  </script>
</board>
